* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --header-color: #f55a5a;
  --header-font: "Inter", sans-serif;
  --header-font-color: white;
}

/* Header */

header {
  background-color: var(--header-color);
  color: var(--header-font-color);
  font-family: var(--header-font);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}
header > i {
  width: 24px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
